<div class="modal-content">
<div class="modal-header ">
   <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> -->
     <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()">&times;</button>
    </button>
    <h4 class="modal-title">Sorry!</h4>
</div>
<div class="modal-body">
    <p>{{errorMessage}}</p>
    
    <ul>
    	<li ng-repeat="task in pendingTasks">{{task.description}}</li>
    </ul>
   
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close()">OK</button>
</div></div>