<div class="user-profile-wrapper">

	<div class="col-sm-8 user-profile">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h4 style="text-align: center">Resource Profile</h4>
			</div>

			<div class="text-center panel-body">

				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="text-center">Resource Name:</th>
								<th class="text-center">{{user.name}}</th>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td>Email Address:</td>
								<td>{{user.email }}</td>
							</tr>
							<tr>
								<td>User Access:</td>
								<td>{{user.access }}</td>
							</tr>
							<tr>
								<td>Project Roles:</td>
								<td>
									<ul>
										<li ng-repeat=" prstuser in user.userRoles | unique:('name')">
											<span>{{prstuser.name}}</span>
								
										</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- <div class="form-group">
					<div class="row">
						<label class=" col-sm-6">Name:</label>
						<div class="col-sm-offset-6">
							<label>{{user.name}}<label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<label class=" col-sm-6">Email Id:</label>
						<div class="col-sm-offset-6">
							<label>{{user.email }}</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="col-sm-6">Access:</label>
						<div class="col-sm-offset-6">
							<label>{{user.access }}</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="col-sm-6">Role:</label>
						<div class="col-sm-offset-6">
							<label><table>
									<tr ng-repeat=" prstuser in user.userRoles | unique:('name')">
										<td>{{prstuser.name}}</td>
									</tr>
								</table></label>
						</div>
					</div>
				</div> -->
				
				
			</div>

		</div>
	</div>

	<div class=" col-sm-4 task-noti">
		<div class="panel panel-info">
			<div class="panel-heading notification-header">
				<h4 style="text-align: center; font-size:16px;"><i class="fa fa-bell" > Task Notifications</i></h4>
			</div>

			<div class="panel-body " style="
    padding-bottom: 18px; padding-top: 18px;
			">
				<div class="list-group">
				<div href="#" class="list-group-item notification-type">
						&nbsp;&nbsp;&nbsp;
						<span>Pending Approvals</span>
					</div>
					<div href="#" class="list-group-item"> <i
						class="fa fa-flag"></i>&nbsp;&nbsp;&nbsp;
						<span>Not Started: {{NotStarted }}</span>
					</div>
					<div href="#" class="list-group-item"> <i
						class="fa fa-tag"></i>&nbsp;&nbsp;&nbsp;
						<span>WIP : {{ Wip }}</span>
					</div>
					<div href="#" class="list-group-item"> <i
						class="fa fa-tasks"></i>&nbsp;&nbsp;&nbsp;
						<span>Completed: {{ Completed }}</span>
					</div>
					<div href="#" class="list-group-item notification-type"> 
					&nbsp;&nbsp;&nbsp;
						<span>Pending Tasks</span>
					</div>
					<div href="#" class="list-group-item"> <i
						class="fa fa-flag"></i>&nbsp;&nbsp;&nbsp;
						<span>Not Started: {{Own_NotStarted }}</span>
					</div>
					<div href="#" class="list-group-item"> <i
						class="fa fa-tag"></i>&nbsp;&nbsp;&nbsp;
						<span>WIP : {{ Own_Wip }}</span>
					</div>
					<div href="#" class="list-group-item"> <i
						class="fa fa-tasks"></i>&nbsp;&nbsp;&nbsp;
						<span>Completed: {{ Own_Completed }}</span>
					</div>
				</div>

			</div>

		</div>
	</div>

</div>


<div id="dashboard">
	<ul class="nav nav-tabs">
		<li class="user_btn"><a href="#/" ng-click=task_show('user')>My Tasks</a></li>
			
		<li class="owned_btn"><a href="#/" ng-click=task_show('owned')>My Approvals</a></li>
		
	<!-- 	<li class="published_btn"><a href="#/" ng-click=task_show('published')>Tasks Created by You</a></li> -->
	</ul>

	<!-- MY APPROVALS -->
	<div ng-show=owned_task>
		<table ng-show="user.tasks.Owner.length!=0"
			class="table table-striped table-bordered">
			<tr>
				<th>Tasks Description</th>
				<th>Created By</th>
				<th>Pending Task Status</th>
			</tr>
			<tr ng-repeat="prstuser in user.tasks.Owner">
				<td ng-class="{'urgent-required':prstuser.flagged==true}">{{prstuser.description}}</td>
				<td ng-class="{'urgent-required':prstuser.flagged==true}">{{prstuser.publisher.name}}</td>
				<td ng-show="prstuser.allTaskStatus.length!=0">
				<table class="table table-striped table-bordered">
						<th>Resource</th>
						<th>Status</th>
						<th>Actions</th>
						<th>Created On</th>
						<tr ng-class="{'urgent-required':users.flagged==true}"
							ng-show="!own_changestatus[$parent.$index][$index]"
							ng-repeat-start="users in prstuser.allTaskStatus">
							<td>{{users.user.name}}</td>
							<td>{{users.status}}</td>

							<td><a href="#/">
							<i ng-click="own_statuschange(true,$parent.$index,$index)"
									class="fa fa-pencil-square-o"></i></a></td>
							<td>{{users.createdOn}}</td>
						</tr>
						<tr ng-class="{'urgent-required':users.flagged==true}"
							ng-show="own_changestatus[$parent.$index][$index]" ng-repeat-end>
							<td>{{users.user.name}}</td>
							<td>
							<select data-toggle="dropdown" ng-model="users.status" ng-show="prstuser.reverseTask"
								ng-options="status.name as status.name for status in totalStatuses"
								required>
									<option selected="selected" disabled="disabled" value="">Choose
										Status</option>
							</select>
							<select data-toggle="dropdown" ng-model="users.status" ng-show="!prstuser.reverseTask"
								ng-options="status.name as status.name for status in statuses"
								required>
									<option selected="selected" disabled="disabled" value="">Choose
										Status</option>
							</select>
							</td>
							<td><a href="#/"><i
								ng-click="own_statuschange(false,$parent.$index,$index);statuschange(users.id,users.status)"
								class="fa fa-check"></i></a></td>
							<td>{{users.createdOn}}</td>
						</tr>
					</table></td>
				<td ng-show="prstuser.allTaskStatus.length==0">Not Available</td>
			</tr>
		</table>
		<div ng-show="user.tasks.Owner.length==0">
			<h3 style="text-align: center; padding-top: 30px">Not Available</h3>
		</div>
	</div>


	<!-- MY TASKS -->
	<div ng-show=user_task>
		<table ng-show="user.tasks.User.length!=0"
			class="table table-striped table-bordered">
			<tr>
				<th>Tasks Description</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
			<tr ng-class="{'urgent-required':prstuser.flagged==true}"
				ng-show="!user_changestatus[$parent.$index][$index]"
				ng-repeat-start="prstuser in user.tasks.User">
				<td>{{prstuser.description}}</td>
				<td>{{prstuser.status.status}}</td>
				<td ng-show="prstuser.status.status=='Completed'"><a href="#/"><i ng-click="user_statuschange(true,$parent.$index,$index)"
				
					class="fa fa-pencil-square-o"></i></a></td>
					<td ng-show="prstuser.status.status=='NotStarted'||prstuser.status.status=='WIP'||prstuser.status.status=='Closed'">Not allowed to change</td>	
			</tr>
			
			<tr ng-class="{'urgent-required':prstuser.flagged==true}"
				ng-show="user_changestatus[$parent.$index][$index]" ng-repeat-end>
				<td>{{prstuser.description}}</td>
				<td><select data-toggle="dropdown"
					ng-model="prstuser.status.status"
					ng-options="status.name as status.name for status in own_statuses"
					required>
						<option selected="selected" disabled="disabled" value="">Choose
							Status</option>
				</select></td>
				<td><a href="#/"><i
						ng-click="statuschangemodal(prstuser.status.id,prstuser.status.status,false,$parent.$index,$index)"
						class="fa fa-check"></i></a></td>
			</tr>
		</table>
		<div ng-show="user.tasks.User.length==0">
			<h3 style="text-align: center; padding-top: 30px">Not Available</h3>
		</div>
	</div>



	<!-- <div ng-show=published_task>
		<table ng-show="user.tasks.Publisher.length!=0"
			class="table table-striped table-bordered">
			<tr>
				<th>Task Description</th>
				<th>Performed By</th>
				<th>Resource Task Status</th>
				
			</tr>
			<tr ng-repeat="prstuser in user.tasks.Publisher">
				<td ng-class="{'urgent-required':prstuser.flagged==true}">{{prstuser.description}}</td>
				<td ng-class="{'urgent-required':prstuser.flagged==true}">{{prstuser.owner.name
					}}</td>
				<td ng-show="prstuser.allTaskStatus.length!=0">
					<table class="table table-striped table-bordered">
						<th>Name</th>
						<th>Status</th>
						<th>Actions</th>
						<th>Created On</th>
						<tr ng-class="{'urgent-required':users.flagged==true}"
							ng-show="!pub_changestatus[$parent.$index][$index]"
							ng-repeat-start="users in prstuser.allTaskStatus">
							<td>{{users.user.name}}</td>
							<td>{{users.status}}</td>
							<td><a href="#/"><i
									ng-click="pub_statuschange(true,$parent.$index,$index)"
									class="fa fa-pencil-square-o"></i></a></td>
							<td>{{users.createdOn}}</td>
						</tr>
						<tr ng-class="{'urgent-required':users.flagged==true}"
							ng-show="pub_changestatus[$parent.$index][$index]" ng-repeat-end>
							<td>{{users.user.name}}</td>
							<td><select data-toggle="dropdown" ng-model="users.status"
								ng-options="status.name as status.name for status in statuses track by status.name"
								required>
									<option selected="selected" disabled="disabled" value="">Choose
										Status</option>
							</select></td>
							<td><a href="#/"><i
									ng-click="pub_statuschange(false,$parent.$index,$index);statuschange(users.id,users.status)"
									class="fa fa-pencil-square-o"></i></a></td>
							<td>{{users.createdOn}}</td>
						</tr>
						//commented part 
						- <tr ng-show="changestatus[$index]" ng-repeat-end>
							<td>{{users.user.name}}</td>
							<td><select data-toggle="dropdown" ng-model="users.status"
								ng-options="status.name as status.name for status in statuses"
								required>
									<option selected="selected" disabled="disabled" value="">Choose
										Status</option>
							</select></td>
							<td><i ng-click="statuschanged(false)" class="fa fa-check"></i></td>
						</tr>
						// commented part ends
					</table>
				</td>
				<td ng-show="prstuser.allTaskStatus.length==0">Not Available</td>
				//commented part begins
				 <td>
						<a href="#/"><i class="fa fa-trash-o fa-fw" data-ng-click="removeRow($index)"></i></a>
					<a href="#/tasks"><i ng-click="taskedit(prstuser.id)"
						class="fa fa-pencil-square-o"></i></a>
				</td> 
				//commented part ends
			</tr>
		</table>
		<div ng-show="user.tasks.Publisher.length==0">
			<h3 style="text-align: center; padding-top: 30px">Not Available</h3>
		</div>
	</div>
     -->
    
     
    	<div class="show-all"  ng-show=(globals.currentUser.access!="General")>
			<a href="#/"><i class="fa fa-angle-double-down col-sm-6"
				ng-click=task_show('published')> Show Status for all Published Tasks</i></a>
		</div>
		
		<div class="panel panel-success text-center"
			ng-show="published_task">

			<div class="panel-heading">All Published Tasks with Status</div>
			<div class="panel-body">
				<div class="table-responsive">
		<table 
			class="table table-striped table-bordered">
			<tr>
				<th class="text-center">Task Description</th>
				<th class="text-center">Performed By</th>
				<th class="text-center">Resource Task Status</th>
				<!-- <th>Options</th> -->
			</tr>
			<tr ng-repeat="task in tasks">
				<td ng-class="{'urgent-required':task.flagged==true}">{{task.description}}</td>
				<td ng-class="{'urgent-required':task.flagged==true}">{{task.owner.name
					}}</td>
				<td ng-show="task.allTaskStatus.length!=0">
					<table class="table table-striped table-bordered">
						<th>Name</th>
						<th>Status</th>
						<th>Actions</th>
						<th>Created On</th>
						<tr ng-class="{'urgent-required':usertask.flagged==true}"
							ng-show="!pub_changestatus[$parent.$index][$index]"
							ng-repeat-start="usertask in task.allTaskStatus">
							<td>{{usertask.user.name}}</td>
							<td>{{usertask.status}}</td>
							<td><a href="#/"><i
									ng-click="pub_statuschange(true,$parent.$index,$index)"
									class="fa fa-pencil-square-o"></i></a></td>
							<td>{{usertask.createdOn}}</td>
						</tr>
						<tr ng-class="{'urgent-required':usertask.flagged==true}"
							ng-show="pub_changestatus[$parent.$index][$index]" ng-repeat-end>
							<td>{{usertask.user.name}}</td>
							<td ng-show=!task.reverseTask><select data-toggle="dropdown" ng-model="usertask.status"
								ng-options="status.name as status.name for status in statuses track by status.name"
								required>
									<option selected="selected" disabled="disabled" value="">Choose
										Status</option>
							</select></td>
							<td ng-show=task.reverseTask><select data-toggle="dropdown" ng-model="usertask.status"
								ng-options="status.name as status.name for status in totalStatuses track by status.name"
								required>
									<option selected="selected" disabled="disabled" value="">Choose
										Status</option>
							</select></td>
							<td><a href="#/"><i
									ng-click="pub_statuschange(false,$parent.$index,$index);
									statuschange(usertask.id,usertask.status)"
									class="fa fa-check"></i></a></td>
							<td>{{usertask.createdOn}}</td>
						</tr>
						<!-- 		<tr ng-show="changestatus[$index]" ng-repeat-end>
							<td>{{users.user.name}}</td>
							<td><select data-toggle="dropdown" ng-model="users.status"
								ng-options="status.name as status.name for status in statuses"
								required>
									<option selected="selected" disabled="disabled" value="">Choose
										Status</option>
							</select></td>
							<td><i ng-click="statuschanged(false)" class="fa fa-check"></i></td>
						</tr> -->
					</table>
				</td>
				<td ng-show="task.allTaskStatus.length==0">Not Available</td>
				<td ng-show="task.length==0">Not Available</td>
				<!-- <td>
						<a href="#/"><i class="fa fa-trash-o fa-fw" data-ng-click="removeRow($index)"></i></a>
					<a href="#/tasks"><i ng-click="taskedit(prstuser.id)"
						class="fa fa-pencil-square-o"></i></a>
				</td> -->
			</tr>
		</table>
	</div></div></div>

    
</div>