
<div class="module-group-role">
	
	<!-- 	group table starts -->
	<div class="group-table">
		<h3 style="text-align: center">Resource Groups</h3>
		<table class="table table-striped table-bordered">
			<tr>
				<!-- 	<th>Index	</th> -->
				<th>Group</th>
				<th ng-show=!(globals.currentUser.access=="General") >Actions</th>
			</tr>
			<tr ng-show="!editMode_group"
				ng-repeat-start="group in groups track by $index">
				<!-- <td>{{group.id}}</td>	 -->
				<td>{{group.name}}</td>
				<td ng-show=!(globals.currentUser.access=="General") ><a
					href="#/modules"><i class="fa fa-trash-o fa-fw"
						data-ng-click="remove(group.id,'groups')" data-toggle="modal"
						data-target="#myModal"></i></a> <a href="#/modules"><i
						ng-click="toggleEdit_group(true)" class="fa fa-pencil-square-o"></i></a></td>
			</tr>
			<tr ng-show="editMode_group" ng-repeat-end>
				<!--   <td>{{ group.id }}</td> -->
				<td><input ng-model="group.name" /></td>
				<td><i ng-click="modify_group(false, group.id ,group.name)"
					class="fa fa-check"></i></td>
			</tr>
		</table>
		<a href="#/modules" ng-show=!(globals.currentUser.access=="General") ><i
			class="fa fa-plus-circle" ng-click=formshow_group()>Add Group</i></a>
		<div class="add-group">
			<form class="form-horizontal" role="form"
				ng-submit="modify_group(false,'',name_group )"
				ng-show="formshowEnabled_group">
				<div class="form-group">
					<label class="col-md-2 control-label">Group name</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="name_group"
							ng-model="name_group" required />
					</div>
				</div>
				<div class="form-group">
					<div style="padding-left: 110px">
						<a ng-click="clear()" class="btn btn-warning" >Reset</a>
						<input type="submit" value="Submit" class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<!--  modules table starts -->
	<div class="Module-table">
		<h3 style="text-align: center">Resource Tracks</h3>

		<table ng-table="tableParams"
			class="table table-striped table-bordered">
			<tr>
				<!-- <th>Index </th>	 -->
				<th>Track</th>
				<th ng-show=!(globals.currentUser.access=="General")>Actions</th>
			</tr>
			<tr ng-show="!editMode_module" ng-repeat-start="module in modules">
				<!-- <td>{{module.id}}</td>	 -->
				<td>{{module.name}}</td>

				<td ng-show=!(globals.currentUser.access=="General") ><a
					href="#/modules"><i class="fa fa-trash-o fa-fw"
						data-ng-click="remove(module.id,'modules')"></i></a> <a
					href="#/modules"><i ng-click="toggleEdit_module(true)"
						class="fa fa-pencil-square-o"></i></a></td>
			</tr>
			<tr ng-show="editMode_module" ng-repeat-end>
				<!--   <td>{{ group.id }}</td> -->
				<td><input ng-model="module.name" /></td>
				<td><i ng-click="modules_modify(false, module.id ,module.name)"
					class="fa fa-check"></i></td>
			</tr>
		</table>

		<a href="#/modules" ng-show=!(globals.currentUser.access=="General") ><i
			class="fa fa-plus-circle" ng-click=formshow()>Add Module</i></a>
		<div class="add-module">
			<!-- 	<form class="form-horizontal" role="form" ng-submit="addRow(modules[modules.length-1].index )" ng-show="formshowEnabled"> -->
			<form class="form-horizontal" role="form"
				ng-submit="modules_modify(false,'' ,name)" ng-show="formshowEnabled">
				<div class="form-group">
					<label class="col-md-2 control-label">Module name</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="name"
							ng-model="name" required />
					</div>
				</div>
				<div class="form-group">
					<div style="padding-left: 110px">
						<a ng-click="clear()" class="btn btn-warning" >Reset</a>
						<input type="submit" value="Submit" class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<!--  role table starts -->
	<div class="role-table">
		<h3 style="text-align: center">Resource Roles</h3>
		<table class="table table-striped table-bordered">
			<tr>
				<!-- 	<th>Index	</th> -->
				<th>Roles</th>
				<th>Type</th>
				<th ng-show=!(globals.currentUser.access=="General") >Actions</th>
			</tr>
			<tr ng-show="!editMode_role"
				ng-repeat-start="role in roles track by $index">
				<!-- 	<td>{{role.index}}</td>		 -->
				<td>{{role.name}}</td>
				<td>{{role.accessLevel}}</td>
				<td ng-show=!(globals.currentUser.access=="General")  ><a
					href="#/modules"><i  class="fa fa-trash-o fa-fw"
						data-ng-click="remove(role.id,'roles')" data-toggle="modal"
						data-target="#myModal" ng-show='($index!=0) && ($index!=1) && ($index!=2)' ></i></a> <a href="#/modules"><i
						ng-click="toggleEdit_role(true)" class="fa fa-pencil-square-o" ng-show='($index!=0) && ($index!=1) && ($index!=2)'></i></a>
				</td>
			</tr>
			<tr ng-show="editMode_role" ng-repeat-end>
				<!--  <td>{{role.index}}</td> -->
				<td><input ng-model="role.name" /></td>
				<td><select ng-model="role.accessLevel"><option>TrackLevelAccess</option>
						<option>GroupLevelAccess</option>
						<option>ProjectLevelAccess</option></select>
				<td><i
					ng-click="modify_role(false,role.id,role.name,role.accessLevel)"
					class="fa fa-check"></i></td>
			</tr>
		</table>
		<a href="#/modules" ng-show=!(globals.currentUser.access=="General") ><i
			class="fa fa-plus-circle" ng-click=formshow_role()>Add Role</i></a>
		<div class="add-role">
			<form class="form-horizontal" role="form"
				ng-submit="modify_role(false,'',role_name,role_type)"
				ng-show="formshowEnabled_role">
				<div class="form-role">
					<div class="col-md-12">
						<div class="col-md-12">
							<label class="col-md-2 control-label">Role name: </label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="role_name"
									ng-model="role_name" required /> <br />
							</div>
						</div>

						<div class="col-md-12">
							<label class="col-md-2 control-label">Role Type:</label>
							<div class="col-md-8" style="padding-top: 7px">
								<input type="radio" ng-model="role_type"
									value="ProjectLevelAccess" ng-required="!role_type">
								ProjectLevelAccess </input> <input type="radio" ng-model="role_type"
									value="GroupLevelAccess" ng-required="!role_type">
								GroupLevelAccess </input> <input type="radio" ng-model="role_type"
									value="ModuleLevelAccess" ng-required="!role_type">
								TrackLevelAccess </input>
							</div>
						</div>

						<div class="col-md-8 form-role">
							<div style="padding: 15px; text-align: center;">
								<a ng-click="clear()" class="btn btn-warning" >Reset</a>
								<input type="submit" value="Submit" class="btn btn-primary" />
							</div>
						</div>

					</div>

				</div>


			</form>
		</div>
	</div>

</div>

<!-- <div id="footer"></div> -->
