	<div class="panel panel-success">
			<div class="panel-heading">
				<h3 style="text-align: center">
					Forgot Password ?</h3>
			</div>
			<div class="panel-body">
				<div class="text-left">
					
					<div ng-show="error" class="alert alert-danger text-center">{{forgotPasswordErrorMessage}}</div>
					
					<form class="form-horizontal" role="form" ng-submit="forgetPassword()">
						
							<div class="form-container">
								<div class="form-group">
								    <div class="role">
										<div class="col-sm-12 text-center" >
											<label> Please enter registered email address here. Your last password will be sent to this address.</label> 
										</div>
									</div>
								</div>
						        <div class="form-group">
							     <div class="row text-center">
								<label class="control-label col-sm-3">Email Id:</label>
								<div class="col-sm-8">
									<input type="email" class="form-control" 
										ng-model="email" placeholder="Enter email Id"
										required ><span style="color: red"
										ng-show="user_Form.email.$dirty && user_Form.email.$invalid">
										<span ng-show="user_Form.email.$error.required"/>Email
											is required.</span> <span ng-show="user_Form.email.$error.email">Invalid
											email address.</span>
									</span>
								</div>
							</div>
						</div>

							<div class="form-group">
								<div class="col-sm-offset-5 col-sm-6">
								
					<button class="btn btn-primary" >OK</button>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
