	<div ng-show="changePassword" class="panel panel-default">

			<div class="panel-heading">
				<h3 ng-show="!changeemail" style="text-align: center">Change Password</h3>
				<h3 ng-show="changeemail" style="text-align: center">Change Email</h3>
			</div>

			<div class="text-center panel-body">
			<div ng-show="errorshow" class="alert alert-danger">{{errordata}}</div>
           <form class="form-horizontal" role="form"
					ng-submit="passwordModification(new_password,confirmnew_password)">

						<div ng-show="!changeemail"class="form-group">
							<div class="row">
								<label class="control-label col-sm-3">Email Id:</label>
								<div class="col-sm-8">
									<input type="email" class="form-control" 
										ng-model="email" placeholder="Enter email Id"
										required disabled> <span style="color: red"
										ng-show="user_Form.email.$dirty && user_Form.email.$invalid">
										<span ng-show="user_Form.email.$error.required"/>Email
											is required.</span> <span ng-show="user_Form.email.$error.email">Invalid
											email address.</span>
									</span>
								</div>
							</div>
						</div>
							<div ng-show="changeemail" class="form-group">
							<div class="row">
								<label class="control-label col-sm-3">Email Id:</label>
								<div class="col-sm-8">
									<input type="email" class="form-control" 
										ng-model="email" placeholder="Enter email Id"
										required > <span style="color: red"
										ng-show="user_Form.email.$dirty && user_Form.email.$invalid">
										<span ng-show="user_Form.email.$error.required"/>Email
											is required.</span> <span ng-show="user_Form.email.$error.email">Invalid
											email address.</span>
									</span>
								</div>
							</div>
						</div>
						
						<div ng-show="!changeemail"class="form-group">
							<div class="row">
								<i><a href="#/password" class="control-label  col-sm-offset-9" ng-click=changeEmail()>Change Email-id</a></i>
								</div></div>
						<div ng-show="changeemail"class="form-group">
							<div class="row">
								<i><a href="#/password" class="control-label col-sm-offset-9" ng-click="changeemail=false">Change Password</a></i>
								</div></div>
								
								
				
							
						   
						   	<div ng-if="!changeemail" class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">New Password:</label>
								<div class="col-sm-6">
									<input type="password" class="form-control" 
										ng-model="$parent.new_password" placeholder="Enter New Password" required />
										
								</div>
							</div>
						   </div>
                                          
                                    <div ng-if="!changeemail" class="form-group">
								<div class="row">
									<label class="control-label col-sm-3"> Confirm New Password:</label>
								<div class="col-sm-6">
									<input type="password" class="form-control" 
										ng-model="$parent.confirmnew_password" placeholder="Confirm New Password" required />

								</div>
							    </div>
						         </div>   
                                    
                                        
					<div class="form-group">
						<div class="col-sm-10">
							<a ng-click="clear()" class="btn btn-warning" >Reset</a>
							<input type="submit" value="Submit" class="btn btn-primary" />
						</div>
					</div>


				</form>

			</div>

		</div>
		
		
		
		
		
		
		
			<div ng-show="!changePassword">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 style="text-align: center"  ng-show="!changeemail">Password
					Changed Successfully</h3>
					<h3 style="text-align: center"  ng-show="changeemail">Email
					Changed Successfully</h3>
			</div>
			<div class="panel-body">
				<div class="text-left">
					<form class="form-horizontal" role="form" ng-submit="takehome()">
						<div class="role">
							<div class="form-container">
								<div class="form-group">
									<div class="">
										<div class="col-sm-12">
									<!-- 	<label style="text-align: center"> Password has been changed successfully</label> -->
										</div>
									</div>
								</div>
								

							<div class="form-group">
								<div class="col-sm-offset-5 col-sm-6">
								
					<input type="submit" value="Ok" class="btn btn-primary" />
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>