<div class="modal-content">
<div class="modal-header">
   <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> -->
     <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()">&times;</button>
    </button>
    <h4 class="modal-title">Confirmation</h4>
</div>
<div class="modal-body">
    <p>If the staus of the task is changed to close</p>
    <p>It can not be undone.</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="$close()">Sure</button>
</div></div>