<div ng-show=!(globals.currentUser.access=="General")>

	 <div ng-show="!taskresult">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 style="text-align: center">
					<span ng-if="!editTask">Create New Task</span>
					<span ng-if="editTask">
						<span ng-if="!republishTask">Update Task</span>
						<span ng-if="republishTask">Republish Task</span>
					</span>
				</h3>
			</div>
			<div class="text-center panel-body">

				<form class="form-horizontal" name="newTaskForm" ng-submit="newTaskForm.$valid && TaskModification(task)"
					role="form">
					<div class="role">

						<div class="form-container">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Description:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-maxlength="500" name="description" id="description"
											ng-model="task.description" placeholder="Enter task" required>
										<span style="color:#ffa500" ng-show="!newTaskForm.description.$valid">Description length is limited to 500 characters</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Reverse
										Description:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-maxlength="500" name="revDescription" id="revDescription"
											ng-model="task.revDescription" placeholder="Enter task to perform when resource leaves">
										<span ng-show="!newTaskForm.revDescription.$valid">Description length is limited to 500 characters</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Task Required
										For:</label>
									<div ng-if=change class="col-sm-3">
										<fieldset ng-repeat="map in task.mappings">
											<select ng-if=($index==0)
												class="btn btn-primary dropdown-toggle form-control"
												data-toggle="dropdown" ng-model="task.mappings[0]"
												ng-init="groupopt(map.groupName)"
												ng-options="group.name for group in groups track by group.name">

												<option selected="selected" disabled="disabled" value="">{{opt}}</option>
											</select>
										</fieldset>
									</div>
									<div ng-if=!change class="col-sm-3">

										<select class="btn btn-primary dropdown-toggle form-control"
											data-toggle="dropdown" ng-model="task.mappings[0]"
											ng-options="group.name for group in groups track by group.name"
											required>
											<option selected="selected" disabled="disabled" value="">Choose
												Group</option>
										</select>
									</div>

									<!--    <label class="col-sm-1" ><i class="fa fa-plus fa-2x"></i></label> -->
									<div class="col-sm-offset-6 form-contrtol">
										<!-- <dropdownmultiselect pre-selected="task.mappings"
								model="selected_items" options="modules"></dropdownmultiselect> -->
										<div class='btn-group col-sm-6' data-ng-class='{open: open}'>
											<div id="drop"
												class='btn btn-primary dropdown-toggle col-sm-offset-3  form-control'
												data-ng-model='h1' data-ng-click='open=!open;openDropdown()'>
												Choose Tracks <span class='caret'></span>
											</div>
											<ul class='dropdown-menu mod-dropdown'
												aria-labelledby='dropdownMenu'>
												<li><a ng-click='selectAll()'><i
														class='fa fa-check-circle'></i> Check All</a></li>
												<!-- <li><a ng-click='deselectAll();'><i class='fa fa-times-circle'></i>  Uncheck All</a></li> -->
												<li class='divider'></li>
												<li data-ng-repeat='option in modules'><a
													data-ng-click='setSelectedItem()'>{{option.name}}<span
														data-ng-class='isChecked(option.id)'></span></a></li>
											</ul>
										</div>
									</div>
									<span class="col-sm-offset-6"
										ng-if="noselected && model.length==0" style="color: #ffa500">Please
										fill at least 1 module</span>

								</div>

							</div>


							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Performer:</label>
									<!-- 	<div class="col-sm-9"> -->
								<!-- 	<div ng-if="(change && selectrole==false)" class="col-sm-4">
										<fieldset ng-repeat="map in task.owner">
											<select ng-if=($index==0)
												class="btn btn-primary dropdown-toggle form-control"
												data-toggle="dropdown" ng-model="task.owner"
												ng-init="owneropt(map.name)"
												ng-options="username.name for username in usernames track by username.name">

												<option selected="selected" disabled="disabled" value="">{{opto}}</option>
											</select>
										</fieldset>
									</div> -->
									<div ng-if="(change && selectrole==false)" ><div class="row">
										<fieldset ng-repeat="map in task.owner">
										<div  class="col-sm-3">
											<select ng-if=($index==0)
												class="btn btn-primary dropdown-toggle form-control"
												data-toggle="dropdown" ng-model="task.owner"
												ng-init="owneropt(map.name)"
												ng-options="username.name for username in usernames track by username.name">

												<option selected="selected" disabled="disabled" value="">{{opto}}</option>
											</select></div>
											<div class=" control-label col-sm-6" ng-if=($index==0)>
										<a href="#/tasks"><i
									ng-click="selectType(true)"
									>To select according to the resource role</i></a>
									</div>
										</fieldset>
									</div></div>
									
										<div ng-if="(change && selectrole==true)"><div class="row">
										<fieldset ng-repeat="map in task.owner">
										<div  class="col-sm-3">
											<select ng-if=($index==0)
												class="btn btn-primary dropdown-toggle form-control"
												data-toggle="dropdown" ng-model="task.owner"
												ng-init="owneropt(map.name)"
												ng-options="role.userRoles[0].name for role in roleavailable track by role.userRoles[0].name">

												<option selected="selected" disabled="disabled" value="">Choose Role</option>
											</select></div>
											<div class=" control-label col-sm-6" ng-if=($index==0)>
										<a href="#/tasks"><i
									ng-click="selectType(false)"
									>To select according to the resource name</i></a>
									</div>
										</fieldset>
									</div></div>

									<div ng-if="(change==false && selectrole==false)">
									<div class="row">
												<div  class="col-sm-3">
												
										<select class="btn btn-primary dropdown-toggle form-control"
											data-toggle="dropdown" ng-model="task.owner"
											ng-options="username.name for username in usernames" required>
											<option selected="selected" disabled="disabled" value="">Choose Name
												</option>
										</select>
										<!-- {{task.owner}} -->
										</div>
										<div class=" control-label col-sm-5">
										<a href="#/tasks"><i
									ng-click="selectType(true)"
									>To select according to the resource role</i></a>
									</div></div>
									</div>
									
		
									
									<div ng-if="(change==false && selectrole==true)">
									<div class="row">
												<div  class="col-sm-3">
										<select class="btn btn-primary dropdown-toggle form-control"
											data-toggle="dropdown" ng-model="task.owner"
											ng-options="role.userRoles[0].name for role in roleavailable" required>
											<option selected="selected" disabled="disabled" value="">Choose Role
											</option>
										</select>
											
										</div>
										
										<div class=" control-label col-sm-5">
										<a href="#/tasks"><i
									ng-click="selectType(false,task.owner.name)"
									>To select according to the resource name</i></a>
									</div></div>
									</div>
									
									
							
									
									
											</div>
							</div>
						<!-- 			<label class="control-label col-sm-1" style="text-align:center">or</label>
										<div ng-if=!change class="col-sm-3">
										<select class="btn btn-primary dropdown-toggle form-control"
											data-toggle="dropdown" ng-model="task.owner"
											ng-options="username.name for username in usernames" required>
											<option selected="selected" disabled="disabled" value="">Choose
												Role</option>
										</select>
									</div>  -->
									
							
									
									
									
									
									
									
									
									<!-- <select
								class="btn btn-primary dropdown-toggle btn-block form-control "
								data-toggle="dropdown" ng-model="task.owner"
								ng-options="username.name for username in usernames"
								required>
								<option selected="selected" disabled="disabled" value="">Choose
									user_role</option>

							</select> -->
						
	           
                      
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-3">Complete by:</label>
									<div class="col-sm-2">
										<select class="btn btn-primary dropdown-toggle form-control"
											data-toggle="dropdown" ng-model="task.daysToComplete"
											ng-options="days for days in days" required>
											<option selected="selected" disabled="disabled" value="">Select</option>
										</select>
									</div>
									<div class="col-sm-1">
										<label class="control-label">days</label>
									</div>
								</div>
							</div>
				

						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-4">
								<a ng-click="clearTask()" class="btn btn-warning" >Reset</a>
								<input type="submit" value="Submit" class="btn btn-primary" />
							</div>
						</div>
					</div>
					</div>
				</form>
			</div>
		</div>

		<div class="show-all">
			<a href="#/tasks"><i class="fa fa-angle-double-down col-sm-4"
				ng-click=formshow_tasks()> Show All Published Tasks</i></a>
		</div>
		
		<!-- FILTERS -->
		<div class="showall-filter panel text-center" style="height:70px" ng-show="formshowEnabled_tasks">
			<div class="panel-heading" style="padding:0px 15px 10px"><span class="">Choose Filters</span></div>
			<div class="col-sm-4">
				<select class="btn btn-primary dropdown-toggle form-control"
					data-toggle="dropdown" ng-model="filterbygroup"
					ng-options="group.name for group in groups track by group.name">
					<option selected="selected" disabled="disabled" value="">Choose Group</option>
				</select>
			</div>
			<div class="col-sm-4">
				<select class="btn btn-primary dropdown-toggle form-control"
				data-toggle="dropdown" ng-model="filterbymodule" ng-options="module.name for module in modules track by module.name">
					<option selected="selected" disabled="disabled" value="">Choose Track</option>
				</select>
			</div>
			<div class="col-sm-4">
				<select class="btn btn-primary dropdown-toggle form-control"
					data-toggle="dropdown" ng-model="filterbyowner" ng-options="username.name for username in usernames track by username.name">
					<option selected="selected" disabled="disabled" value="">Choose Performer</option>
				</select>
			</div>
		</div>
		
		<div class="panel panel-success text-center"
			ng-show="formshowEnabled_tasks">
			
			<div class="panel-heading">All Published Tasks</div>

			<div class="panel-body">
				<div class="table-responsive">
					<table ng-show="tasks.length > 0"
						class="table table-striped table-bordered table-hover">
						<tr>
							<!-- 	<th>Index	</th> -->
							<th class="text-center">Task publisher</th>
							<th class="text-center">Task Performer</th>
							<th class="text-center">Tasks</th>
							<th class="text-center">Actions</th>
						</tr>
						<tr ng-show=!usertasks.reverseTask ng-repeat="usertasks in tasks | filter:filterTasks ">
							<td >{{usertasks.publisher.name}}</td>
							<td >{{usertasks.owner.name}}</td>
							<td >{{usertasks.description}}</td>
							<td><a href="#/tasks"><i class="fa fa-trash-o fa-fw"
									data-ng-click="removetask(usertasks.id, usertasks.reverseId)"></i></a> <a
								href="#/tasks"><i ng-click="taskedit(usertasks.id, usertasks.deleted)"
									class="fa fa-pencil-square-o"></i></a></td>
						</tr>
					</table>

					<div ng-show="tasks.length == 0">
						<h3 style="text-align: center; padding-top: 30px">Not
							Available</h3>
					</div>
				</div>
			</div>
		</div>


		<div class="show-all show-all-deleted">
			<a href="#/tasks"><i class="fa fa-angle-double-down col-sm-4"
				ng-click=formshow_deletedTasks()> Show All Deleted Tasks</i></a>
		</div>
		<div class="panel panel-success text-center"
			ng-show="formshowEnabled_deletedTasks">

			<div class="panel-heading">All Deleted Tasks</div>

			<div class="panel-body">
				<div class="table-responsive">
					<table ng-show="deletedTasks.length > 0"
						class="table table-striped table-bordered table-hover">
						<tr>
							<!-- 	<th>Index	</th> -->
							<th class="text-center">Task publisher</th>
							<th class="text-center">Task Performer</th>
							<th class="text-center">Tasks</th>
							<th class="text-center">Actions</th>
						</tr>
						<tr ng-show=!usertasks.reverseTask ng-repeat="usertasks in deletedTasks">
							<td >{{usertasks.publisher.name}}</td>
							<td >{{usertasks.owner.name}}</td>
							<td >{{usertasks.description}}</td>
							<td><a
								href="#/tasks"><i ng-click="taskedit(usertasks.id, usertasks.deleted)"
									class="fa fa-pencil-square-o"></i></a></td>
						</tr>
					</table>

					<div ng-show="deletedTasks.length == 0">
						<h3 style="text-align: center; padding-top: 30px">Not
							Available</h3>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div ng-show="taskresult"> 

		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 ng-show="newtaskresult" style="text-align: center">New Task
					Added Successfully</h3>
				<h3 ng-show="!newtaskresult" style="text-align: center">Task
					Modified Successfully</h3>
			</div>
			<div class="panel-body">
				<div class="text-left">
					<form class="form-horizontal" role="form" ng-submit="taskhome()">
						<div class="role">
							<div class="form-container">
								<div class="form-group">
									<div class="">
										<label class="col-sm-offset-1 col-sm-3">Description:</label>
										<div class="col-sm-8">
											<label>{{addedtask.description}}</label>
										</div>
									</div>
								</div>
									<div class="form-group">
									<div class="">
										<label class="col-sm-offset-1 col-sm-3">Reverse Description:</label>
										<div class="col-sm-8">
											<label>{{addedtask.revDescription}}</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="">
										<label class="col-sm-offset-1 col-sm-3">Task required
											for:</label>
										<div class="col-sm-8">
											<table ng-repeat="map in addedtask.mappings">
												<tr>
													<td class=""><label>{{map.groupName}}</label></td>
													<td class=""><label>-</label></td>
													<td class=""><label>{{map.moduleName}}</label></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="">
										<label class="col-sm-offset-1 col-sm-3">Owner:</label>
										<div class="col-sm-8">
											<label>{{addedtask.owner.name}}</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="">
										<label class="col-sm-offset-1 col-sm-3">Days to
											complete:</label>
										<div class="col-sm-8">
											<label>{{addedtask.daysToComplete}}</label>
										</div>
									</div>
								</div>

							</div>

							<div class="form-group">
								<div class="col-sm-offset-5 col-sm-5">
									<input type="submit" value="OK" class="btn btn-primary" />
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>

<div ng-if=(globals.currentUser.access=="General")>
	<h3 style="text-align: center">Sorry!!!</h3>
	<label class="col-sm-12" style="text-align: center; font-size: 29px;">
		You do not have access to this feature.</label>
</div>

