<div ng-if=!(globals.currentUser.access=="General")>
	<div ng-if="!userresult">

		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 style="text-align: center">
					<span ng-if="!editusers">Register New Resource</span>
					<span ng-if="editusers">
						<span ng-if="!reboardUser">Update Resource</span>
						<span ng-if="reboardUser">Reboard Resource</span>
					</span>
				</h3>
			</div>

			<div class="text-center panel-body">

				<form class="form-horizontal" role="form"
					ng-submit="userModification(choices,edituser,editusers); ">

					<div class="form-container">
						<div class="form-group">
							<div class="row">
								<label class="control-label col-sm-2">Name:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control"
										ng-model="edituser.name" placeholder="Enter name" required />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<label class="control-label col-sm-2">Email Id:</label>
								<div class="col-sm-8">
									<input type="email" class="form-control" name="email"
										ng-model="edituser.email" placeholder="Enter email Id"
										required> <span style="color: red"
										ng-show="user_Form.email.$dirty && user_Form.email.$invalid">
										<span ng-show="user_Form.email.$error.required">Email
											is required.</span> <span ng-show="user_Form.email.$error.email">Invalid
											email address.</span>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="control-label col-sm-2">Access:</label>
								<div class="col-sm-3">
									<label class="radio-inline" class="form-control" style="float:left"><input
										type="radio" ng-model="edituser.access" value="General"
										ng-required="!edituser.access">General</label> <label
										class="radio-inline" class="form-control" style="float:left"><input
										type="radio" ng-model="edituser.access" value="Admin"
										ng-required="!edituser.access">Admin</label>
								</div>
							</div>
						</div>

						<!-- NEW USER -->
						<div ng-if="!editusers" class="form-group">
							<div class="row">
								<label class="control-label col-sm-2">Project Role:</label>
								<div class="col-sm-9">
									<fieldset data-ng-repeat="newuser in choices">
										<select class="btn btn-primary dropdown-toggle col-sm-3"
											data-toggle="dropdown" ng-model="newuser.role"
											ng-options="role.name for role in roles"
											ng-change="showothers(newuser.role.accessLevel,$index,newuser.role,newuser.group)"
											required>
											<option selected="selected" disabled="disabled" value="">Choose
												Role</option>
										</select> <label class="col-sm-1"></label> <select
											class="btn btn-primary dropdown-toggle col-sm-3"
											ng-if="showgroupes[$index]" ng-model="newuser.group"
											ng-options="group.name for group in groups" required>
											<option selected="selected" disabled="disabled" value="">Group
												name</option>
										</select> <label class="col-sm-1"></label> <select
											class="btn btn-primary dropdown-toggle col-sm-3 "
											ng-if="showmodules[$index]" ng-model="newuser.module"
											ng-options="module.name for module in modules" required>
											<option selected="selected" disabled="disabled" value="">Track
												name</option>
										</select>
										<div class="col-sm-offset-12">
											<i class="fa fa-trash-o fa-fw" ng-if="($index !=0)"
												data-ng-click="removeChoice($index)"></i>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<!-- EDIT USER -->
						<div ng-if="editusers" class="form-group">
							<div class="row">
								<label class="control-label col-sm-2">Project Role:</label>
								<div class="col-sm-9">
									<fieldset data-ng-repeat="userrole in choices">
										<select class="btn btn-primary dropdown-toggle col-sm-3"
											data-toggle="dropdown" ng-model="userrole.role"
											ng-options="role.name for role in roles track by role.name"
											ng-init="roleoption(userrole.role.name,$index);initshowothers(userrole.role.accessLevel,$index)"
											ng-change="showothers(userrole.role.accessLevel,$index,userrole.role,userrole.group)"
											required>
											<option selected="selected" disabled="disabled" value="">{{optr[$index]}}</option>
										</select> <label class="col-sm-1"></label> <select
											class="btn btn-primary dropdown-toggle col-sm-3"
											ng-if="showgroupes[$index]" ng-model="userrole.group"
											ng-options="group.name for group in groups track by group.name"
											ng-init="groupoption(userrole.group.name,$index)" required>
											<option selected="selected" disabled="disabled" value="">{{optg[$index]}}
											</option>
										</select> <label class="col-sm-1"></label> <select
											class="btn btn-primary dropdown-toggle col-sm-3 "
											ng-if="showmodules[$index]" ng-model="userrole.module"
											ng-options="module.name for module in modules track by module.name"
											ng-init="moduleoption(userrole.module.name,$index)" required>
											<option selected="selected" disabled="disabled" value="">{{optm[$index]}}</option>
										</select>

										<div class="col-sm-offset-12">
											<i class="fa fa-trash-o fa-fw" ng-if="($index!=0)"
												data-ng-click="removeChoice($index)"></i>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						
						<div class="col-sm-2"></div>
						
						<div class="col-sm-2">
							<i class="fa fa-plus-circle" ng-click="addNewChoice()"> Add
								Role</i>
						</div>
						<!-- <div class="col-sm-2"> </div>
            <div class="col-sm-2"> 
              <i class="fa fa-plus-circle"  ng-click="addModifyChoice( edituser.userRoles)">Add fields</i>   
               <i class="fa fa-plus-circle"  ng-click="addNewChoice()">Add fields</i>   
              </div>    
        </div>
       </div>  -->

					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<!--   <button type="submit" class="btn btn-default" ng-submit="userModification(choices,edituser,editusers)">Submit</button> -->
							<a ng-click="clearUser()" class="btn btn-warning" >Reset</a>
							<input type="submit" value="Submit" class="btn btn-primary" />
						</div>
					</div>


				</form>

			</div>

		</div>

		<div class="show-all">
			<a href="#/users"><i class="fa fa-angle-double-down col-sm-4"
				ng-click=formshow_users()>  Show All Resources</i></a>
		</div>


		<div class="panel panel-success text-center"
			ng-show="formshowEnabled_users" id="roles Display">
			<div class="panel-heading">All Registered Resources</div>
			<div class="panel-body">
				<div class="table-responsive">

					<table class="table table-striped table-bordered table-hover">
						<tr>
							<!-- 	<th>Index	</th> -->
							<th class="text-center">Resource Name</th>
							<th class="text-center">Resource Email Address</th>
							<th class="text-center">User Access</th>
							<th class="text-center">Actions</th>
						</tr>
						<tr ng-repeat="user in users | orderBy:'access'">
							<!-- <td>{{group.id}}</td>	 -->
							<td>{{user.name}}</td>
							<td>{{user.email}}</td>
							<td>{{user.access}}</td>
							<td><a href="#/users"><i class="fa fa-trash-o fa-fw"
									data-ng-click=removeuser(user.id,user.name,user.email) ></i></a> <a
								href="#/users"><i ng-click="toggleEdit_user(user.id, user.deleted)"
									class="fa fa-pencil-square-o"></i></a>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
	</div>

	<div ng-if="!userresult">
	<div class="show-all">
		<a href="#/users"><i class="fa fa-angle-double-down col-sm-4"
			ng-click=formshowdeleted_users()> Show All Deleted Resources</i></a>
	</div>


	<div class="panel panel-success text-center"
			ng-show="formshowDeleted_users" id="roles Display">
			<div class="panel-heading">All Deleted Resources</div>
			<div class="panel-body">
			
				<div class="table-responsive">

					<table ng-show="deletedusers.length > 0" class="table table-striped table-bordered table-hover">
						<tr>
							<!-- 	<th>Index	</th> -->
							<th class="text-center">Resource Name</th>
							<th class="text-center">Resource Email Address</th>
							<th class="text-center">Actions</th>
						</tr>
						<tr ng-repeat="user in deletedusers">
							<!-- <td>{{group.id}}</td>	 -->
							<td>{{user.name}}</td>
							<td>{{user.email}}</td>
							<td><a href="#/users"><i ng-click="toggleEdit_user(user.id, user.deleted)"
									class="fa fa-pencil-square-o"></i></a>
						</tr>
					</table>
					<div ng-show="deletedusers.length == 0">
						<h3 style="text-align: center; padding-top: 30px">Not
							Available</h3>
					</div>
				</div>
			</div>
		</div>
		
	</div>


	<div ng-if="userresult">
		<div ng-if="!mailpresent">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 ng-show="newuserresult" style="text-align: center">New
						Resource Added Successfully</h3>
					<h3 ng-show="!newuserresult" style="text-align: center">Resource
						Details Updated Successfully</h3>
				</div>

				<div class="panel-body">
					<div class="text-left">
						<form class="form-horizontal" role="form" ng-submit="userhome()">
							<div class="role">
								<div class="form-container">
									<div class="form-group">
										<div class="row">
											<label class="col-sm-offset-1 col-sm-2">Name:</label>
											<div class="col-sm-8 ">
												<label>{{addeduser.name}}</label>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-offset-1 col-sm-2">Email Id:</label>
											<div class="col-sm-8">
												<label>{{addeduser.email }}</label>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-offset-1 col-sm-2">Access:</label>
											<div class="col-sm-8">
												<label>{{addeduser.access }}</label>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-offset-1 col-sm-2">Role:</label>
											<div class="col-sm-8">

												<table>
													<tr
														ng-repeat=" prstuser in addeduser.userRoles | unique:('name')">
														<td><label>{{prstuser.name}}</label></td>
													</tr>
												</table>

											</div>
										</div>
									</div>

								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-8">

										<input type="submit" value="OK" class="btn btn-primary" />
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="mailpresent">
			<div class="panel-danger">
				<div class="panel-heading">
					<h3 style="text-align: center">Could Not Add The User</h3>
				</div>
				<div class="panel-body">
					<div class="text-center">
						<h4 style="text-align: center; padding-top: 11px">{{errResponse.errorMessage}}</h4>
						<form class="form-horizontal" role="form" ng-submit="userhome()">
							<div class="role">
								<div class="form-container">
									<div class="form-group">
										<div class=" col-sm-12">
											<input type="submit" value="OK" class="btn btn-primary" />
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</div>
<!-- <div ng-if="error_in_deletion">
			<div class="panel-danger">
				<div class="panel-heading">
					<h3 style="text-align: center">Could Not Delete The User</h3>
				</div>
				<div class="panel-body">
					<div class="text-center">
						<h4 style="text-align: center; padding-top: 11px">There are various task owned or/and published by the user.So it can not  be deleted</h4>
						<form class="form-horizontal" role="form" ng-submit="userhome()">
							<div class="role">
								<div class="form-container">
									<div class="form-group">
										<div class=" col-sm-12">
											<input type="submit" value="OK" class="btn btn-primary" />
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>  -->
</div>

<div ng-if=(globals.currentUser.access=="General")>
	<h3 style="text-align: center">Sorry!!!</h3>
	<label class="col-sm-12" style="text-align: center; font-size: 29px;">
		You do not have access to this feature.</label>
</div>



