html,
body {
   margin:0;
   padding:0;
   height:100%;
}
header {
    color:black;
    text-align:left;
    padding:2px;	 
}
section {
    width:450px;
    float:left;
    padding-bottom:2px;
    background-color:#eeeeee;
    border-color:black;
    border-width:1px;
}
#dashboard {
    line-height:30px;
    top:470px;
    width:100%;
    float:left;
    padding:15px 0 0 0;	      
}
nav {
	left:485px;
    width:400px;
    float:left;
    padding:2px;	 	 
}
#dashboard .nav-tabs > li{
	margin-right: 5px;
}
.nav-selected{
	background-color: #eee;
}
.login-box{
    color: #337ab7;
    font-size: 15px;
    padding: 18px 10px 0 0 !important;
}
.login-box .user,
.login-box .logout{
	margin-right: 15px;	
}
.show-all{
	margin: 40px 0 10px;
    height: 30px;
    font-size:17px;
    border-bottom: 1px solid #eee;
}

.container {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
    padding: 0 !important;
}
.page-header{
	background: none repeat scroll 0 0 #205081;
    color: #fff;
    margin: 0 !important;
    padding: 0 !important;
}
.page-header h1{
	margin: 0 !important;
    padding: 10px;
}
.login-box,
.login-box a{
	color: #fff !important;
}
.page-content{
	/* position: relative; */
	padding-bottom: 100px;
	padding-left: 0!important;
	border-left: 1px solid #eee;
}
.main-content{
	padding: 40px 40px 0;
}
.footer{
    bottom: 0;
    height: 20px;
    /* width: 100%; */
    /* position: absolute; */
}
.footer .container{
	background-color: #eee;
	border-bottom: 1px solid #eee;
}
/* Sidebar Styles */
.sidebar-wrapper {
	min-height: 450px!important;
	padding-right: 0!important;
}
.sidebar-nav {
	list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
	text-decoration: none;
}
.sidebar-nav li a:hover {
	text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}
.urgent-done{
	color: black
}
.urgent-required,
.urgent-required a{
	color: red
}
.mod-dropdown{margin-left:25px !important;}
.form-container{margin-bottom:40px;}

.btn-circle{
    border-radius: 25px !important;
    font-size: 35px !important;
    height: 50px;
    padding: 2px 0 !important;
    width: 50px;
}
.user-profile{
	padding-left: 0!important;
}
.user-profile table{
	margin-bottom: 0!important;
}
.user-profile ul{
	padding-left: 0;
	list-style:none;
}
.task-noti{
	padding-right: 0!important;
}
.task-noti .list-group{
	margin-bottom: 0!important;
}

.list-group {
	 height: 157px;
	 overflow-y: scroll;
	     font-size: 12px;
}
.notification-type{
	    font-weight: bolder;	
	    text-align: center;
	    font-size: 14px;
}
.notification-header{
	padding: 8px;
	
}


