<!DOCTYPE html>
<html ng-app="mainApp" id="divID">
<head>
<title>Resource Onboarding Portal</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="/whguserportal/css/bootstrap.min.css" />
<link rel="stylesheet" href="/whguserportal/css/font-awesome.css" />
<link rel="stylesheet" href="/whguserportal/css/layout.css" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"/>

</head>
<body>
	<div class="container">
		
		<div class="row page-header">
			<div class="col-md-8">
				<h1>Resource Onboarding Portal</h1>
			</div>
			<div class="login-box col-md-4 text-right">
				<div ng-if="globals.currentUser.id">
					<i class="fa fa-user"></i><span class="user"> Welcome {{globals.currentUser.name}}</span>
					<i class="fa fa-sign-out"></i><span class="logout"><a href="#login"> Logout</a></span>
				</div>
			</div>
		</div>
		
		<div class="row page-content-wrapper">
			<div class="col-md-3 sidebar-wrapper">
				<ul class="nav nav-pills nav-stacked sidebar-nav left-nav">
					<li class="db-nav"><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
				<!-- 	<li><a href="#groups"><i class="fa fa-shield"></i> Groups</a></li> -->
					<li class="tasks-nav"><a href="#tasks"><i class="fa fa-tasks"></i> Tasks</a></li>
					<li class="users-nav"><a href="#users"><i class="fa fa-user"></i> Resources</a></li>
					<li class="mod-nav"><a href="#modules"><i class="fa fa-random"></i> Groups / Tracks / Roles </a></li>
					<li class="pass-nav"><a href="#password"><i class="fa fa-key"></i> Change <span><i ng-click="changeemail=false">Password</i></span> / <span><i ng-click="changeemail=true">Email</i></span> </a></li>
					<li class="sys-nav"><a href="#system"><i class="fa fa-wrench"></i> System</a></li>
				</ul>
			</div>
			<div class="col-md-9 page-content">
				<div id="main" class="main-content">
					<div ng-view></div>
				</div>
			</div>
		</div>
	
	</div>
	
	<footer class="footer text-center">
		<div class="container">
			<p>&copy; 2016 All rights reserved.</p>
		</div>
	</footer>
	
	<script src="js/jquery-1.12.0.js"></script>
	<!-- <script src="/whguserportal/js/jquery-1.7.min.js"></script> -->
	<script src="/whguserportal/js/angular.min.js"></script>
	<script src="/whguserportal/js/angular-route.min.js"></script>
	<script src="/whguserportal/js/angular-cookies.js"></script>
	
	<script src="/whguserportal/js/underscore-min.js"></script>
	<script src="/whguserportal/js/bootstrap.min.js"></script>
	<script src="/whguserportal/js/ui-bootstrap-tpls-0.12.0.js"></script>
	
	<script src="/whguserportal/js/app.js"></script>
	<script src="/whguserportal/js/controller.js"></script>
	<script src="/whguserportal/js/services.js"></script>
	
	
</body>

</html>
